section.calculator {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    margin: 0 auto;
    padding: 1rem;
    background-color: hsl(230, 30%, 40%);
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 0.7rem;
}

header.calculator__header {
    grid-column: 1 / 5;
    width: 100%;
    height: 100%;
    background-color: hsl(230, 30%, 25%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

header.calculator__header > p {
    align-self: flex-end;
}

.calculator__button {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
}

.calculator__button--sign {
    background-color: hsl(60, 100%, 70%);
}

.calculator__button--sign:hover {
    background-color: hsl(0, 0%, 100%);
}

.calculator__button--number {
    background-color: hsl(231, 25%, 55%);
}

.calculator__button--number:hover {
    background-color: hsl(0, 0%, 100%);
}