section.calculator {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    margin: 0 auto;
    padding: 1rem;
    background-color: hsl(230, 30%, 40%);
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 0.7rem;
}

.calculator__button {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
}

.calculator__button--sign {
    background-color: hsl(60, 100%, 70%);
}

.calculator__button--sign:hover {
    background-color: hsl(0, 0%, 100%);
}

.calculator__button--number {
    background-color: hsl(231, 25%, 55%);
}

.calculator__button--number:hover {
    background-color: hsl(0, 0%, 100%);
}

.span-2-columns {
    grid-column: span 2;
}