header {
    margin: 0 auto;
}

header > h1 {
    padding-top: 1rem;
    margin: 0;
    color: hsl(230, 50%, 20%);
}

@media screen and (max-width: 909px) {
    header {
        display: none;
    }
}