nav {
    margin: 0 auto;
}

nav > h1 {
    padding-top: 1rem;
    margin: 0;
    color: hsl(230, 50%, 20%);
}

nav > button {
    display: none;
}

@media screen and (max-width: 909px) {
    nav {
        position: absolute;
        top: 0;
        left: 0;
    }

    nav > h1 {
        display: none;
    }
    
    nav > button {
        border-bottom-right-radius: 3rem;
        font-size: 2rem;
        border: none;
        color: hsl(60, 100%, 70%);
        background-color: hsl(230, 30%, 40%);
        padding: 1rem 2rem;
    }
    
    nav > button:hover {
        color: hsl(0, 0%, 100%);
    }
}