html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 100%;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: hsl(230, 30%, 40%);
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
}